<h1>Salute to the military</h1>
<p>It's going to be a blowout! Experience the smell of burning rubber, the roar of engines, and the excitement of w    atching 4 second Funny Cars, Classic Cars, Rat Rods, Doorslammers, motorcycles, and more as the pros rev their engines and     compete! See kids pilot their Junior Dragsters down the 1/8 mile. This event is loaded with fun for all ages!</p>
<ul>
  <li>Racing Simulator</li>
  <li>Bounce Houses</li>
  <li>Car Show</li>
  <li>Family Photo taken with Race Cars</li>
  <li>Entertainment</li>
  <li>Food and much more!</li>
</ul>
